.profile{
    max-width: 880px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

@media screen and (max-width:650px){
    .profile{
        flex-direction: column;
    }
}

@media screen and (max-width:425px){
    .profile{
        margin-top: 38px;
        max-width: 282px;
    }
}