.element__button{
    width: 22px;
    height: 19px;
    background-color: transparent;
    border: none;
    background-image: url(../../../images/logo/heart.svg);
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s ease 0s; 
}

.element__button:hover{
    opacity: 0.5;
    cursor: pointer;
}