.card-open__label{
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    margin: 10px 0 0 0;
}


@media screen and (max-width:425px) {
    .card-open__label{
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }
}